/*************** Reset *********************/
* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

.billede_1-1-1-1 {
  /* grid-template-columns: repeat(1fr, 1fr, 1fr, 1fr); */
  /* grid-auto-rows: 900px; */
  /* gap: 50px; */
  justify-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  display: flex;
  height: 330px;
  margin-top: 150px;
}

.billede_1-1-1-1 img {
  width: 1500px;
  height: auto;
  /* object-fit: cover; */
}
